In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.express as px
import openpyxl

In [17]:
data_parsing = pd.read_excel('data/Data_TSUM.xlsx', sheet_name='Data_Parsing')
data_company = pd.read_excel('data/Data_TSUM.xlsx', sheet_name='Data_Company')

In [18]:
display(data_parsing.head())
display(data_parsing.tail())

       brand Category   producer_id producer_color  price
0  Valentino    Shoes  aaaaa1111_11          black    167
1  Valentino    Shoes  aaaaa1111_12          black    188
2  Valentino    Shoes  aaaaa1111_13          black    184
3  Valentino    Shoes  aaaaa1111_14        bla//ck    196
4  Valentino    Shoes  aaaaa1111_15        bla\\ck    250

           brand Category   producer_id producer_color  price
70  Stone Island     Bags  sssss1111_31         ~~~red    164
71  Stone Island     Bags  sssss1111_32         ~~~red    158
72  Stone Island     Bags  sssss1111_33         ~~~red    194
73  Stone Island     Bags  sssss1111_34         ~~~red    256
74  Stone Island     Bags  sssss1111_35         ~~~red    205

In [19]:
display(data_company.head())
display(data_company.tail())

       brand Category      item_id color_id  current price
0  Valentino    Shoes  aaaaa111111    black            247
1  Valentino    Shoes  aaaaa111112    black            161
2  Valentino    Shoes  aaaaa111113    black            234
3  Valentino    Shoes  aaaaa111114    black            167
4  Valentino    Shoes  aaaaa111115    black            153

           brand Category      item_id color_id  current price
70  Stone Island     Bags  sssss111131      red            165
71  Stone Island     Bags  sssss111132      red            196
72  Stone Island     Bags  sssss111133      red            236
73  Stone Island     Bags  sssss111134      red            222
74  Stone Island     Bags  sssss111135      red            275

In [21]:
data_parsing = data_parsing[data_company['item_id']]
display(data_parsing.head())

KeyError: "None of [Index(['aaaaa111111', 'aaaaa111112', 'aaaaa111113', 'aaaaa111114',\n       'aaaaa111115', 'aaaaa111116', 'aaaaa111117', 'aaaaa111118',\n       'aaaaa111119', 'aaaaa111120', 'aaaaa111121', 'aaaaa111122',\n       'aaaaa111123', 'aaaaa111124', 'aaaaa111125', 'aaaaa111126',\n       'aaaaa111127', 'aaaaa111128', 'aaaaa111129', 'aaaaa111130',\n       'aaaaa111131', 'aaaaa111132', 'aaaaa111133', 'aaaaa111134',\n       'aaaaa111135', 'bbbbb111111', 'bbbbb111112', 'bbbbb111113',\n       'bbbbb111114', 'bbbbb111115', 'bbbbb111116', 'bbbbb111117',\n       'bbbbb111118', 'bbbbb111119', 'bbbbb111120', 'bbbbb111121',\n       'bbbbb111122', 'bbbbb111123', 'bbbbb111124', 'bbbbb111125',\n       'bbbbb111126', 'bbbbb111127', 'bbbbb111128', 'bbbbb111129',\n       'bbbbb111130', 'bbbbb111131', 'bbbbb111132', 'bbbbb111133',\n       'bbbbb111134', 'bbbbb111135', 'sssss111111', 'sssss111112',\n       'sssss111113', 'sssss111114', 'sssss111115', 'sssss111116',\n       'sssss111117', 'sssss111118', 'sssss111119', 'sssss111120',\n       'sssss111121', 'sssss111122', 'sssss111123', 'sssss111124',\n       'sssss111125', 'sssss111126', 'sssss111127', 'sssss111128',\n       'sssss111129', 'sssss111130', 'sssss111131', 'sssss111132',\n       'sssss111133', 'sssss111134', 'sssss111135'],\n      dtype='object')] are in the [columns]"