## Итоговое задание

In [1]:
import pandas as pd

In [8]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')
display(student_data.head(5))
display(student_data.tail(5))

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

### Задание 9.1

In [9]:
student_data.count()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

### Задание 9.2

In [14]:
display(student_data.loc[155, 'writing score'])

np.int64(88)

### Задание 9.3, 9.4, 9.5

In [15]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### Задание 9.6

In [25]:
round(student_data['math score'].mean())

66

### Задание 9.7

In [26]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

### Задание 9.8

In [43]:

mask = student_data['test preparation course'] == 'completed'
round(student_data[mask]['reading score'].mean())

74

### Задание 9.9

In [45]:
student_data[student_data['math score'] == 0].shape[0]

1

### Задание 9.10

In [55]:
mask1 = round(student_data[student_data['lunch'] == 
'standard']['math score'].mean())
mask2 = round(student_data[student_data['lunch'] != 
'standard']['math score'].mean())
print(mask1, mask2)

70 59

### Задание 9.11

In [58]:
round(student_data['parental level of education'].value_counts(normalize=True)*100)

parental level of education
some college          23.0
associate's degree    22.0
high school           20.0
some high school      18.0
bachelor's degree     12.0
master's degree        6.0
Name: proportion, dtype: float64

### Задание 9.12

In [65]:
mask1 = student_data[student_data['race/ethnicity'] == 
'group A']['writing score'].median()
mask2 = student_data[student_data['race/ethnicity'] == 
'group C']['writing score'].mean()
round(abs(mask1-mask2))

6