## Задание 1

Реализовать функцию (или тело функции), которая проверяет на изоморфность два слова.

Пояснение: строки s и t называются изоморфными, если все вхождения каждого символа строки s можно последовательно заменить другим символом и получить строку t. Порядок символов при этом должен сохраняться, а замена — быть уникальной. Так, два разных символа строки s нельзя заменить одним и тем же символом из строки t, а вот одинаковые символы в строке s должны заменяться одним и тем же символом.

### Пример:

s = 'paper' 

t = 'title' 

print(is_isomorphic(s, t))

### Вывод: 

True

Оценить оптимальность решения по времени и памяти и прикрепить текст кода.

In [2]:
#Функция для проверки 2-х строк на изоморфность
def is_isomorphic(str1, str2): #-> bool:
    
    #Проверка на одинаковую длину строк
    if len(str1) != len(str2):
        return False
    
    #Словари для символов
    mapping_str1_to_str2 = {}
    mapping_str2_to_str1 = {}

    for i in range(len(str1)):
        char_str1 = str1[i]
        char_str2 = str2[i]
    
        #Проверка соответствия str1 -> str2
        if char_str1 in mapping_str1_to_str2:
            if mapping_str1_to_str2[char_str1] != char_str2:
                return False
        else:
            mapping_str1_to_str2[char_str1] = char_str2
            
        #Проверка соответствия str2 -> str1
        if char_str2 in mapping_str2_to_str1:
            if mapping_str2_to_str1[char_str2] != char_str1:
                return False
        else:
            mapping_str2_to_str1[char_str2] = char_str1
            
    return True

In [3]:
s = 'paper' 
t = 'title' 
print(is_isomorphic(s, t))

a = 'aac'
b = 'bhr'
print(is_isomorphic(a, b))

a = 'aa'
b = 'bhr'
print(is_isomorphic(a, b))

a = 'aab'
b = 'bbc'
print(is_isomorphic(a, b))

True
False
False
True

In [4]:
def is_isomorphic(s: str, t: str) -> bool:
    if len(s) != len(t):
        return False

    # Словари для отображения символов: s → t и t → s
    mapping_s_to_t = {}
    mapping_t_to_s = {}

    for i in range(len(s)):
        char_s = s[i]
        char_t = t[i]

        # Проверяем соответствие s → t
        if char_s in mapping_s_to_t:
            if mapping_s_to_t[char_s] != char_t:
                return False
        else:
            mapping_s_to_t[char_s] = char_t

        # Проверяем соответствие t → s (обратное отображение)
        if char_t in mapping_t_to_s:
            if mapping_t_to_s[char_t] != char_s:
                return False
        else:
            mapping_t_to_s[char_t] = char_s

    return True

In [5]:
s = 'paper' 
t = 'title' 
print(is_isomorphic(s, t))

a = 'aac'
b = 'bhr'
print(is_isomorphic(a, b))

a = 'aa'
b = 'bhr'
print(is_isomorphic(a, b))

a = 'aab'
b = 'bbc'
print(is_isomorphic(a, b))

True
False
False
True

## Задание 2
Реализовать функцию (или тело функции), которая находит единственное отсутствующее число из последовательности натуральных чисел 1,2,…,n.

### Пример:

nums = [1, 2, 3, 4, 5, 6, 8, 9, 10, 11]

print(missing_number(nums))

### Вывод: 

7

Оценить оптимальность решения по времени и памяти и прикрепить текст кода.

In [6]:
#Функция нахождения единственного отсутсвующего числа в натуральной последовательности
def missing_number(nums):
    #Количество чисел в последовательности с учетом пропущенного
    n = len(nums) + 1
    #Ожидаемая сумма
    S = n * (n + 1) // 2
    #Фактическая сумма
    sum_nums = sum(nums)
    return S - sum_nums

In [7]:
nums = [1, 2, 3, 4, 5, 6, 8, 9, 10, 11]

print(missing_number(nums))

7

## Задание 3

Реализовать функцию (или тело функции), которая
при введении натурального числа n разбивает его на простые множители (представить его в виде произведения простых чисел).

### Пример:

n = 56

print(prime_factors(n))

### Вывод:

[2, 2, 2, 7]

Оценить оптимальность решения по времени и памяти и прикрепить текст кода.

In [8]:
#Функция разбиения числа n на простые множители
def prime_factors(n):
    #Возврат пустого списка при условии, что
    if n <=1:
        return []
    
    list_factors = []
    divisor = 2
    
    #Проверяем делитель только до √n
    while divisor * divisor <= n:
        while n % divisor == 0:
            list_factors.append(divisor)
            n //= divisor
        #После делителя 2 проверяем только нечетные
        divisor += 1 if divisor == 2 else 2
    
    #Если остался простой множитель
    if n > 1:
        list_factors.append(n)
    
    return list_factors

In [9]:
n = 56
print(prime_factors(n))

[2, 2, 2, 7]

In [10]:
n = 60
print(prime_factors(n))

[2, 2, 3, 5]

## Задание 4. Ручной счет ROC_AUC
Классификатор выдал следующие прогнозируемые метки класса и вероятности принадлежности к классу "1":

На основе полученных данных рассчитайте метрику ROC_AUC. Тезисно опишите ход решения.

In [11]:
from sklearn.datasets import load_diabetes
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Истинная метка класса': [1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0],
    'Порог классификации (0.6)': [1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0],
    'Оценка вероятности': [0.95 , 0.9, 0.85, 0.80, 0.75, 0.7, 0.65, 0.6, 0.55, 0.5, 0.45, 0.4, 0.35, 0.3, 0.25]
})

display(df)

    Истинная метка класса  Порог классификации (0.6)  Оценка вероятности
0                       1                          1                0.95
1                       0                          1                0.90
2                       1                          1                0.85
3                       0                          1                0.80
4                       1                          1                0.75
5                       1                          1                0.70
6                       1                          1                0.65
7                       1                          1                0.60
8                       0                          0                0.55
9                       0                          0                0.50
10                      0                          0                0.45
11                      1                          0                0.40
12                      0                          0                0.35
13                      0                          0                0.30
14                      0                          0                0.25

## Задание 5 Ручной счет корреляции
Рассчитайте линейную корреляцию Пирсона, на основе данных.

Какой вывод можно сделать на основе полученного результата? Можно ли утверждать, что существует причинно-следственная связь между количеством чашек кофе, выпитых студентами в течение экзаменационного дня, и их итоговым баллом за экзамен?

In [12]:
df = pd.DataFrame({
    'Число выпитых чашек кофе': [1, 1, 2, 2, 2, 2, 3, 3, 3, 4],
    'Балл за экзамен': [85, 88, 79, 81, 84, 65, 67, 58, 76, 49]
})

display(df)

   Число выпитых чашек кофе  Балл за экзамен
0                         1               85
1                         1               88
2                         2               79
3                         2               81
4                         2               84
5                         2               65
6                         3               67
7                         3               58
8                         3               76
9                         4               49