# Итоговое задание

In [2]:
import pandas as pd
citibike_tripdata = pd.read_csv('data/citibike-tripdata.csv')
display(citibike_tripdata.head())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [4]:
citibike_trip_df = citibike_tripdata.copy()
display(citibike_trip_df.head())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

### Задание 6.1 - 6.2

In [5]:
display(citibike_trip_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

### Задание 6.3

In [6]:
display(citibike_trip_df['start station id'].value_counts())

start station id
281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: count, Length: 759, dtype: int64

### Задание 6.4

In [7]:
display(citibike_trip_df['bikeid'].value_counts())

bikeid
33887    107
34358    104
34159    103
34258    103
34314    102
        ...
32682      1
18260      1
34554      1
34518      1
25794      1
Name: count, Length: 10004, dtype: int64

### Задание 6.5

In [9]:
display(round(citibike_trip_df['usertype'].value_counts(normalize=True),2))

usertype
Subscriber    0.77
Customer      0.23
Name: proportion, dtype: float64

### Задание 6.6

In [11]:
display(citibike_trip_df['gender'].value_counts())

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

### Задание 6.7

In [15]:
display(citibike_trip_df['start station id'].nunique())
display(citibike_trip_df['end station id'].nunique())

759

765

In [19]:
2018 - citibike_trip_df['birth year'].max()

np.int64(16)

In [20]:
display(citibike_trip_df['start station name'].value_counts())

start station name
Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: count, Length: 759, dtype: int64

In [21]:
display(citibike_trip_df['end station name'].value_counts())

end station name
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Montrose Ave & Bushwick Ave       1
Warren St                         1
Liberty Light Rail                1
Name: count, Length: 765, dtype: int64

### Задание 6.8

In [24]:
citibike_trip_df = citibike_trip_df.drop(['start station id', 'end station id'], axis=1)

In [25]:
display(citibike_trip_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

None

### Задание 6.9

In [26]:
citibike_trip_df['age'] = 2018 - citibike_trip_df['birth year']
display(citibike_trip_df.head())

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1,24

In [33]:
display(citibike_trip_df[citibike_trip_df['age'] > 60].info())

<class 'pandas.core.frame.DataFrame'>
Index: 11837 entries, 53 to 299990
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   starttime                11837 non-null  object
 1   stoptime                 11837 non-null  object
 2   start station name       11837 non-null  object
 3   start station latitude   11837 non-null  float64
 4   start station longitude  11837 non-null  float64
 5   end station name         11837 non-null  object
 6   end station latitude     11837 non-null  float64
 7   end station longitude    11837 non-null  float64
 8   bikeid                   11837 non-null  int64
 9   usertype                 11837 non-null  object
 10  birth year               11837 non-null  int64
 11  gender                   11837 non-null  int64
 12  age                      11837 non-null  int64
dtypes: float64(4), int64(4), object(5)
memory usage: 1.3+ MB

None

### Задание 6.10

In [39]:
citibike_trip_df['stoptime'] = pd.to_datetime(citibike_trip_df['stoptime'])
citibike_trip_df['starttime'] = pd.to_datetime(citibike_trip_df['starttime'])

In [52]:
citibike_trip_df['trip duration'] = (citibike_trip_df['stoptime'] - 
citibike_trip_df['starttime'])
display(citibike_trip_df['trip duration'].loc[3])

Timedelta('0 days 00:07:16.837000')

### Задание 6.11

In [61]:
citibike_trip_df['weekend'] = citibike_trip_df['starttime'].dt.dayofweek
citibike_trip_df['weekend'] = citibike_trip_df['weekend'].apply(lambda x: 
1 if x == 5 or x == 6 else 0)
display(citibike_trip_df['weekend'].value_counts())

weekend
0    184865
1    115135
Name: count, dtype: int64

### Задание 6.12

In [70]:
display(citibike_trip_df.head())

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,trip duration,weekend
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1,38,0 days 00:27:15.365000,1
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0,49,0 days 00:02:12.200000,1
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1,43,0 days 00:55:37.898000,1
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2,34,0 days 00:07:16.837000,1
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1,24,0 days 02:20:57.993000,1

In [105]:
def get_time_of_day(starttime):
    if 0 <= starttime <=6:
        return 'night'
    elif 7 <= starttime <=12:
        return 'morning'
    elif 13 <= starttime <=18:
        return 'day'
    else:
        return 'evening'
citibike_trip_df['time_of_day'] = (citibike_trip_df['starttime']
.dt.hour.apply(get_time_of_day))

In [107]:
display(citibike_trip_df.head())

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,trip duration,weekend,time_of_day
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1,38,0 days 00:27:15.365000,1,night
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0,49,0 days 00:02:12.200000,1,night
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1,43,0 days 00:55:37.898000,1,night
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2,34,0 days 00:07:16.837000,1,night
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1,24,0 days 02:20:57.993000,1,night

In [106]:
night = citibike_trip_df[citibike_trip_df['time_of_day'] == 'night'].shape[0]
day = citibike_trip_df[citibike_trip_df['time_of_day'] == 'day'].shape[0]
difference = round(day/night)
display(difference)

9