In [30]:
#Загружаем необходимые библиотека
import pandas as pd
import numpy as np

from scipy import stats
import statsmodels.api as sm
from statsmodels import stats as sms

import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.express as px

#Делаем визуальную настройку графиков
sns.set_theme("notebook") 
sns.set_palette("Set2") 

#Отключаем неинформативные предупреждения
import warnings
warnings.simplefilter("ignore", UserWarning)
warnings.simplefilter("ignore", FutureWarning)

In [31]:
new_site_df = pd.read_csv('data/new-site.csv', sep='\t')
display(new_site_df.head())

   site  dwell-time
0     0           2
1     1          48
2     0          15
3     1          16
4     0          38

## Задание 34

In [32]:
A_df = new_site_df[new_site_df['site'] == 0]
display(A_df.head())
B_df = new_site_df[new_site_df['site'] == 1]
display(B_df.head())

   site  dwell-time
0     0           2
2     0          15
4     0          38
6     0         571
8     0         233

    site  dwell-time
1      1          48
3      1          16
5      1         169
7      1          38
10     1         336

In [33]:
display(A_df['dwell-time'].sum())
display(B_df['dwell-time'].sum())

16898

10032

## Задание 35

In [34]:
display(A_df['dwell-time'].mean())
display(B_df['dwell-time'].mean())

90.84946236559139

88.0

## Задание 36

In [35]:
#Задаем уровень значимости
alpha = 0.05
print(f'Уровень значимости alpha = {alpha}')

#Функция для принятия решения о нормальности
def decision_normality(p):
    print('p-value = {:.3f}'.format(p))
    if p <= alpha:
        print('p-значение меньше, чем заданный уровень значимости {:.2f}. Распределение отлично от нормального.'.format(alpha))
    else:
        print('p-значение больше, чем заданный уровень значимости {:.2f}. Распределение является нормальным.'.format(alpha))
        
#Функция для принятия решения об отклонении нулевой гипотезы
def decision_hypothesis(p):
    print('p-value = {:.3f}'.format(p))
    if p <= alpha:
        print('p-значение меньше, чем заданный уровень значимости {:.2f}. Отвергаем нулевую гипотезу в пользу альтернативной.'.format(alpha))
    else:
        print('p-значение больше, чем заданный уровень значимости {:.2f}. У нас нет оснований отвергнуть нулевую гипотезу.'.format(alpha))

Уровень значимости alpha = 0.05

In [36]:
#Проводим тест Шапиро-Уилка
print('A:')
result = stats.shapiro(A_df)
decision_normality(result[1])

print('B:')
result = stats.shapiro(B_df)
decision_normality(result[1])

A:
p-value = 0.000
p-значение меньше, чем заданный уровень значимости 0.05. Распределение отлично от нормального.
B:
p-value = 0.000
p-значение меньше, чем заданный уровень значимости 0.05. Распределение отлично от нормального.

## Задание 39

Чтобы проверить нашу гипотезу, можно использовать U-критерий Манна — Уитни.

In [39]:
#Подготовка данных для анализа
A_df = new_site_df.loc[new_site_df['site'] == 0, 'dwell-time']
B_df = new_site_df.loc[new_site_df['site'] == 1, 'dwell-time']

#Проводим тест
_, p = stats.mannwhitneyu(A_df, B_df)
decision_hypothesis(p)

p-value = 0.896
p-значение больше, чем заданный уровень значимости 0.05. У нас нет оснований отвергнуть нулевую гипотезу.